
  <div class="container-fluid">
    {{#grouped_each 3 recipes}}
      <div class="row">
      {{#each this}}
        <div class="col-sm-4">
          <div class="thumbnail"> <!-- style="height: 290px;" -->
            <div style="padding: 5px">
            <a href="{{recipe.url}}">
              <img class="media-object img-responsive"  src={{recipe.image}} alt={{recipe.label}} height="100px">
            </a>
          </div>
            <div class="caption">
              <h5>{{recipe.label}}</h5>
              {{#recipe.healthLabels }}
              <span class="label label-success" style="display: inline-block">{{this}}</span>
              {{/recipe.healthLabels}}
              {{#recipe.dietLabels }}
              <span class="label label-info" style="display: inline-block">{{this}}</span>
              {{/recipe.dietLabels}}
              {{#recipe.cautions }}
              <span class="label label-danger" style="display: inline-block">{{this}}</span>
              {{/recipe.cautions}}
            </div>
            <hr>
            <a style="padding-bottom:60px; padding-left:20px" href="http://127.0.0.1:3000/list">Add ingredients to list</a>
          </div>
        </div>
      {{/each}}
      </div>
    {{/grouped_each}}
  </div>
